@charset "utf-8";
@media screen and (max-width: 1300px) {


    .famousCart-list {
        width: 307vw;
        height: 50vw;
        background-color: antiquewhite;
      }
      

    .famousCart-list .image-area {
        width: 100%;
        height: 44.6vw;
        overflow: hidden;
      }
      
}

@media screen and (max-width: 700px) {
  .famousCart-list {
    width: 31.85vw;
    /* height: 92.85vw; */
    background-color: antiquewhite;
  }
  

.famousCart-list .image-area {
  
    width: 100%;
    /* height: 82.85vw; */
    overflow: hidden;
  }
}



@media screen and (max-width: 1100px) {
    html{
        font-size: 14px !important;
    }
    .famousCart-desc{
        line-height: 1.3;
    }
}

@media screen and (max-width: 900px){
    html{
        font-size: 12px !important;
    }

    .search input::placeholder{
        font-size: 0;
    }
   

}

@media screen and (max-width: 768px){
  .famousCart-desc{
    padding: 10px;
  }
    .famousCart-desc p{
        width: 100%;
       /* max-width: 80%;  */
        background-color: aquamarine;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .famousCart-desc p:nth-child(1) {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .famousCart-desc p:nth-child(2) {
        font-size: 1rem;
      }
      .famousCart-desc p:nth-child(3) {
        font-size: 1rem;
      }
}
@media screen and (max-width: 500px){
    .famousCart-desc p:nth-child(1) {
        font-size: 1rem;
        font-weight: bold;
      }
      .famousCart-desc p:nth-child(2) {
        font-size: 0.8rem;
      }
      .famousCart-desc p:nth-child(3) {
        font-size: 0.8rem;
      }
}
@media screen and (max-width: 500px){
    .famousCart-desc p{
        
    }
}

.famousCart-desc p{
  width: 100%;
 /* max-width: 80%;  */
  background-color: aquamarine;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}